version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/php:8.3
    volumes:
      - ..:/workspaces:cached
    # This command runs EVERY time the container starts to force the link
    entrypoint: >
      sh -c "sudo docker-php-ext-install pdo_mysql && 
             echo 'extension=pdo_mysql.so' | sudo tee /usr/local/etc/php/conf.d/10-pdo_mysql.ini &&
             /bin/sh -c 'while sleep 1000; do :; done'"
    environment:
      - DB_NAME=drupal
      - DB_USER=drupal
      - DB_PASS=drupal
      - DB_HOST=db
      - DB_PORT=3306

  db:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=root
      - MARIADB_DATABASE=drupal
      - MARIADB_USER=drupal
      - MARIADB_PASSWORD=drupal
    volumes:
      - drupal-db-data:/var/lib/mysql

volumes:
  drupal-db-data: